doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Library
        link(rel="stylesheet", href="/styles.css")
    body
        h1 Library
        nav
            ul
                li
                    a(href="/") Home
                li
                    a(href="/books") Books
                li
                    a(href="/readers") Readers
        block content
            p Welcome to the Library! Choose an option from the navigation.

