doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Library
        link(rel="stylesheet", href="/styles.css")
    body
        h1 Library
        nav
            ul.fa-ul
                li
                    i.fa-li.fa.fa-home
                    a(href="/") Home
                li
                    i.fa-li.fa.fa-book
                    a(href="/books") Books
                li
                    i.fa-li.fa.fa-user
                    a(href="/readers") Readers
        block content
            p Welcome to the Library! Choose an option from the navigation.

        script(src='https://kit.fontawesome.com/7c9a06390c.js', crossorigin='anonymous')