html
    head
        meta(charset="utf-8")
        title Сессия
    body
        h1 Счетчик
        -if (value === 1)
            p Добро пожаловать в первый раз
        - else
            p Не первое посещение:
                =value